.card{
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    width: 600px;
}
.span{
    display: inline-block;
    margin-bottom: 10px;
    
}
